.header {
    color: #9b81f1;
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
}

.formHeader {
    color: #9b81f1;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-weight: 700;
}